<div>
  <h1>Login</h1>
  <form  name="loginForm" novalidate ng-submit="loginForm.$valid && login(); user = {}">
    <div class ='inputs'>
    <input
    type='text'
    class = 'form-control floating-label'
    name= 'username'
    ng-model='user.username'
    placeholder = 'enter a username'

    >
    <input
    type="password"
    class = 'form-control floating-label'
    name= "password"
    ng-model='user.password'
    placeholder = 'enter a password'
   
    >
    <button class= 'btn btn-primary' type= 'submit'>Log in!</button>
  </form>

  <div><a href="/Server/users/facebook"><i class="fa fa-facebook"></i></a></div>
  <a href="#/signup">New to the site? <strong>Sign up!</strong> ...</a>
</div>
