.searchForm {
   margin: 10px;
}

.fa-facebook {
  background:#3b5998;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.inputs {
  width: 80%;
}
.form-control {
  margin: 30px 0 30px 0;
  padding: 15px;

}
